<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EjemploMVVM.Properties.Settings.NorthwindDB" 
			connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;TrustServerCertificate=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>