<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLComand_ForInt.Properties.Settings1.Northwind" connectionString="Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True;TrustServerCertificate=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>